<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="<%= @talent.user.profile.picture %>" alt="Profile Image" width="100%">
      <div class="card-block">
        <h4 class="card-title"><%= @talent.user.profile.full_name %></h4>
        <p class="card-text">Video: <br><%= @talent.video %></p>
        <p class="card-text">Bio: <br><%= @talent.bio %></p>
        <p class="card-text">Skills: <br></p>
        <p class="card-text">Resume: <br><%= @talent.resume %></p>
        <p class="card-text">Suburb: <br><%= @talent.suburb %></p>
        <% if current_user == @talent.user %>
          <%= link_to 'Edit', edit_talent_path, class: "btn btn-primary btn-sm" %>
        <% end %>
        <%= link_to 'Interview Me', new_interview_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
