<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :picture %>
    <%= f.input :birth_date %>
  </div>




<h2><%= current_user.has_role? :candidate %></h2>



  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Candidate
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Recruiter
  </label>
</div>
<br>
