<h1>Welcome to DiversityX</h1>
<% if user_signed_in? %>
  <% if current_user.profile %>
    <% if current_user.has_role? :candidate %>
      <% if current_user.talent %>
        <%= render 'home/candidate_dashboard' %>
      <% else %>
          <%= render 'home/candidate_without_talent_profile' %>
      <% end %>

    <% elsif current_user.has_role? :recruiter %>
      <% if current_user.companies.any? %>
        <%= render 'home/recruiter_dashboard' %>
      <% else %>
        <%= render 'home/recruiter_without_company_profile' %>
          <% end %>
      <% end %>


  <% else %>
    <%= render 'home/user_without_profile' %>
<% end %>
<% end %>
