<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="<%= @company.company_logo %>" alt="Company Logo" width="100%">
      <div class="card-block">
        <h4 class="card-title"><%= @company.company_name %></h4>
        <p class="card-text">Description <br><%= @company.company_description %></p>
        <% if current_user == @company.user %>
          <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-primary btn-sm" %>
        <% end %>
        <% if current_user == @company.user %>
          <%= link_to 'Update Business location', new_business_location_path(company: @company.id), class: 'btn btn-success' %>
        <% end %>

          <%#render partial: "companies/map" %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-block">
      <h4 class="card-title">Locations</h4>
      <ul>
        <% @company.business_locations.each do |location| %>
          <li><%= location.title %> <% if current_user.companies.include?(@company) %><%= link_to '[Edit]', edit_business_location_path(location) %><% end %></li>
          <%= render 'company_locations_map' %>
        <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card card-block">
      <h4 class="card-title">Positions Available</h4>
        <%= render 'job_roles/position' %>
    </div>
  </div>

</div>
