<% if user_signed_in? %>
<% if current_user.has_role? :candidate %>
<nav class="navbar navbar-light bg-faded">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Diversity X</a>
    </div>

    <ul class="nav navbar-nav navbar-right pull-right">
      <% if current_user.profile %>
      <li class="nav-item <%= 'active' if current_page?(profile_path(current_user.profile)) %>">
        <%= link_to "Hello #{current_user.profile.first_name}", profile_path(current_user.profile), class: 'nav-link' %>
      </li>

      <% else %>
      <li class="nav-item">
        <%= link_to 'Create profile', new_profile_path, class: 'nav-link' %>
        <% end %>
      </li>

      <% if current_user.talent %>
        <li class="nav-item">
          <%= link_to 'My talents', talent_path(current_user.talent), class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Create talents', new_talent_path, class: 'nav-link' %>
        </li>
      <% end %>

      <li class="nav-item">
        <%= link_to "Companies", companies_path, class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    </ul>
    <% end %>
    <% end %>
  </ul>

  <!-- </div> -->
</div>
</nav>
