<% if user_signed_in? %>
  <% if current_user.has_role? :recruiter %>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DIVERSITY X</a>
          </div>

          <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <% if current_user.profile %>
                  <li><%= link_to "HELLO #{current_user.profile.first_name.upcase}", profile_path(current_user.profile) %></li>
                <% else %>
                  <li><%= link_to 'CREATE A PROFILE', new_profile_path %></li>
                <% end %>

                <li><a href="/">HOME</a></li>

                <% if current_user.companies.any? %>
                  <li><%= link_to 'SEARCH TALENTS', talents_path %></li>
                <% end %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" class="caret">COMPANIES</a>

              <ul class="dropdown-menu">
                <% if current_user.companies.any? %>
                <li><%= link_to 'MY COMPANIES', my_companies_path %></li>
                <li><%= link_to 'CREATE COMPANY', new_company_path %></li>
                <li><%= link_to 'SEARCH COMPANY', companies_path %></li>
                <% else %>
                <li><%= link_to 'CREATE COMPANY', new_company_path %></li>
                <li><%= link_to 'SEARCH COMPANIES', companies_path %></li>
                <% end %>
              </ul>
            </li>

            <li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
